# Medical Cost Personal Datasets
Insurance Forecast by using Linear Regression

In [1]:
! kaggle datasets download -d mirichoi0218/insurance

Downloading insurance.zip to /Users/cosmoremit/Documents/AcNice/Deep Learning
  0%|                                               | 0.00/16.0k [00:00<?, ?B/s]
100%|███████████████████████████████████████| 16.0k/16.0k [00:00<00:00, 259kB/s]

## Unzip our data

In [3]:
! unzip 'insurance.zip' -d insurance

Archive:  insurance.zip
  inflating: insurance/insurance.csv

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import tensorflow as tf

In [5]:
df = pd.read_csv('insurance/insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [9]:
# convert categorical variables to numbers
df = pd.get_dummies(df, drop_first=True)
df

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,1,0,1,0,0
1334,18,31.920,0,2205.98080,0,0,0,0,0
1335,18,36.850,0,1629.83350,0,0,0,1,0
1336,21,25.800,0,2007.94500,0,0,0,0,1
1337,61,29.070,0,29141.36030,0,1,1,0,0

In [10]:
# split into X and y values (features and labels)
X = df.drop('charges', axis=1)
y = df['charges']

In [12]:
# split our data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2, random_state=42)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1070, 8), (1070,), (268, 8), (268,))

In [17]:
# Build our model architecture
model1 = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu', input_shape=[8]),
    tf.keras.layers.Dense(1)
])

# compile our model
model1.compile(loss='mae',
               optimizer = tf.keras.optimizers.SGD(),
               metrics=['mae'])

model1.fit(X_train, y_train, epochs=10)

Epoch 1/10
34/34 [==============================] - 0s 842us/step - loss: 8605.3467 - mae: 8605.3467
Epoch 2/10
34/34 [==============================] - 0s 917us/step - loss: 7614.1636 - mae: 7614.1636
Epoch 3/10
34/34 [==============================] - 0s 925us/step - loss: 7593.8433 - mae: 7593.8433
Epoch 4/10
34/34 [==============================] - 0s 883us/step - loss: 7721.4077 - mae: 7721.4077
Epoch 5/10
34/34 [==============================] - 0s 929us/step - loss: 7642.1699 - mae: 7642.1699
Epoch 6/10
34/34 [==============================] - 0s 884us/step - loss: 7813.9077 - mae: 7813.9077
Epoch 7/10
34/34 [==============================] - 0s 878us/step - loss: 7795.2271 - mae: 7795.2271
Epoch 8/10
34/34 [==============================] - 0s 901us/step - loss: 7484.4370 - mae: 7484.4370
Epoch 9/10
34/34 [==============================] - 0s 1ms/step - loss: 7676.5181 - mae: 7676.5181
Epoch 10/10
34/34 [==============================] - 0s 1ms/step - loss: 7959.8540 - mae: 7959.8540

In [18]:
#  Evaluate our model
model1.evaluate(X_test, y_test)

9/9 [==============================] - 0s 987us/step - loss: 7995.0728 - mae: 7995.0728

[7995.07275390625, 7995.07275390625]

In [38]:
# make prediction on our model
y_pred = model1.predict(X_test)

In [39]:
y_pred

array([[13564.436 ],
       [10026.311 ],
       [19821.379 ],
       [13922.977 ],
       [ 4295.4316],
       [ 8513.427 ],
       [ 4817.2056],
       [18907.316 ],
       [ 8222.748 ],
       [14729.648 ],
       [ 8748.102 ],
       [11821.474 ],
       [ 7789.248 ],
       [12921.467 ],
       [17501.55  ],
       [13415.957 ],
       [13701.115 ],
       [13506.595 ],
       [13626.706 ],
       [12742.558 ],
       [ 7117.53  ],
       [12342.235 ],
       [ 4246.006 ],
       [ 4682.382 ],
       [15115.988 ],
       [15917.865 ],
       [17749.707 ],
       [ 7204.6025],
       [14139.614 ],
       [ 3963.0613],
       [11728.859 ],
       [16979.738 ],
       [ 4649.817 ],
       [ 8941.819 ],
       [ 6712.8906],
       [12379.46  ],
       [ 5287.2036],
       [12459.969 ],
       [16047.217 ],
       [ 9888.328 ],
       [ 4778.157 ],
       [ 5284.5366],
       [16432.225 ],
       [18086.434 ],
       [ 8779.496 ],
       [18010.428 ],
       [ 4878.204 ],
       [ 6940.417 ],
       [12353.424 ],
       [ 7921.925 ],
       [18704.564 ],
       [ 4086.9224],
       [10662.193 ],
       [ 4228.461 ],
       [16465.21  ],
       [14758.442 ],
       [ 8319.7   ],
       [ 8404.964 ],
       [17214.475 ],
       [15541.181 ],
       [18990.219 ],
       [ 7265.8994],
       [18246.14  ],
       [12557.591 ],
       [15369.085 ],
       [ 7692.8906],
       [ 5703.501 ],
       [15913.176 ],
       [ 6919.2163],
       [ 4669.166 ],
       [10290.731 ],
       [13406.551 ],
       [13854.589 ],
       [11038.91  ],
       [12247.486 ],
       [10046.44  ],
       [ 7051.9395],
       [17071.629 ],
       [ 7294.7593],
       [13584.894 ],
       [ 4414.0503],
       [19159.533 ],
       [ 8838.451 ],
       [ 5488.8257],
       [ 4166.492 ],
       [14758.113 ],
       [ 8138.11  ],
       [16229.917 ],
       [12498.702 ],
       [15514.713 ],
       [18397.363 ],
       [20105.145 ],
       [14231.975 ],
       [ 8663.977 ],
       [ 8838.861 ],
       [11695.851 ],
       [ 8975.557 ],
       [ 4439.7793],
       [ 8823.288 ],
       [10312.361 ],
       [ 8195.474 ],
       [ 4359.865 ],
       [11003.903 ],
       [16560.709 ],
       [18894.781 ],
       [ 3753.4294],
       [12838.968 ],
       [16532.727 ],
       [ 4551.843 ],
       [16484.32  ],
       [ 4083.4595],
       [ 5637.7656],
       [17365.5   ],
       [ 9447.271 ],
       [14443.915 ],
       [ 4481.961 ],
       [18214.514 ],
       [12900.615 ],
       [10481.375 ],
       [ 5898.8076],
       [ 9216.024 ],
       [11570.6875],
       [15006.695 ],
       [ 5579.094 ],
       [ 7917.5723],
       [11659.537 ],
       [12088.171 ],
       [14500.255 ],
       [17432.633 ],
       [ 4877.2227],
       [ 8766.868 ],
       [ 9632.502 ],
       [ 9455.686 ],
       [12494.707 ],
       [10830.669 ],
       [17343.518 ],
       [ 8651.198 ],
       [12165.643 ],
       [12241.492 ],
       [10458.236 ],
       [10244.099 ],
       [14820.811 ],
       [ 6283.834 ],
       [15057.309 ],
       [ 6619.2144],
       [14989.897 ],
       [ 9342.565 ],
       [ 8391.013 ],
       [14878.907 ],
       [ 9711.938 ],
       [15658.934 ],
       [ 5776.175 ],
       [ 3344.694 ],
       [ 8644.65  ],
       [10047.416 ],
       [ 9027.885 ],
       [18644.5   ],
       [13872.093 ],
       [ 4247.901 ],
       [11400.74  ],
       [17484.59  ],
       [ 4672.3096],
       [19907.344 ],
       [ 6026.0894],
       [ 5673.043 ],
       [11713.937 ],
       [18719.201 ],
       [17164.79  ],
       [12848.08  ],
       [ 6285.128 ],
       [15079.929 ],
       [10931.    ],
       [10158.95  ],
       [ 8694.497 ],
       [ 5496.171 ],
       [14276.391 ],
       [ 4572.4272],
       [18741.611 ],
       [ 9827.147 ],
       [17580.305 ],
       [19433.678 ],
       [ 5975.63  ],
       [14530.058 ],
       [ 9162.203 ],
       [ 8425.672 ],
       [ 5750.2827],
       [ 7771.7197],
       [ 8151.183 ],
       [12764.052 ],
       [16586.297 ],
       [ 5367.3774],
       [ 4026.9285],
       [ 5791.0513],
       [ 8179.0103],
       [18182.066 ],
       [14812.357 ],
       [ 4758.1045],
       [16340.83  ],
       [ 4224.9175],
       [15038.805 ],
       [ 7196.6113],
       [15733.685 ],
       [ 7179.8276],
       [ 4636.5503],
       [ 5085.3623],
       [ 7510.671 ],
       [14986.654 ],
       [ 6152.732 ],
       [13371.15  ],
       [ 7024.5806],
       [19365.965 ],
       [17617.4   ],
       [12311.014 ],
       [ 7003.4536],
       [11887.988 ],
       [ 8157.765 ],
       [ 9229.295 ],
       [18183.096 ],
       [18510.963 ],
       [ 9490.82  ],
       [ 4589.862 ],
       [12053.387 ],
       [ 9458.451 ],
       [12128.743 ],
       [ 5152.2485],
       [ 7356.678 ],
       [ 4936.4634],
       [ 4246.5835],
       [15164.935 ],
       [13944.153 ],
       [ 4531.3438],
       [15914.163 ],
       [ 8188.433 ],
       [12655.562 ],
       [16231.451 ],
       [13937.488 ],
       [ 6745.372 ],
       [11741.964 ],
       [11640.836 ],
       [ 5050.1123],
       [18936.928 ],
       [ 7560.411 ],
       [ 6008.174 ],
       [ 6755.062 ],
       [ 4622.7617],
       [ 6573.192 ],
       [ 7649.8833],
       [ 8631.208 ],
       [14668.103 ],
       [ 5157.331 ],
       [ 4648.323 ],
       [11222.896 ],
       [ 7609.002 ],
       [17655.084 ],
       [ 4253.2847],
       [ 6257.501 ],
       [18170.766 ],
       [ 6454.694 ],
       [14928.937 ],
       [ 8555.132 ],
       [11705.521 ],
       [19073.846 ],
       [ 7195.349 ],
       [18917.822 ],
       [17640.209 ],
       [10917.695 ],
       [15037.83  ],
       [14857.942 ]], dtype=float32)